<h1>Welcome to BabySteps</h1>

<%= @message %>
<!-- .is_empty? if statement  -->
<!-- "<p style='color:red;'>You are not logged in!</p>" -->
<%= "Must include an email and password" if @care_giver && @care_giver.errors.any? %>
<p>Please Login below:</p>

<form class="Login" action="/login" method="post">
  <p><label for="email">Email: </label><input type="text" name="email" value="" required/></p>
  <p><label for="password">Password: </label><input type="password" name="password" value="" required/></p>
  <input type="submit" name="submit" value=" Login " />
</form>
<br>
<p>Don't have an account? <a href="/registration/signup">Create a new account</a></p>
