<h1>Your are about to delete <%= @child.name %>'s log</h1>
<br>
<h3>Do you wish to proceed?</h3>
<br>
<form action="/children/<%= @child.id %>/logs" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value=" Delete The Log ">

</form>
