<h1>Error!</h1>
<h3>The log already exists for <%= @child.name %></h3>
<br>
<p>
  Please Either
  <a href="/children/<%= @child.id %>/logs/edit">Edit Log</a>, 
  <a href="/children/">Return to the list of children</a> or <a href="/logout">logout and re-enter your credientials</a>
</p>
