<h1>Error!</h1>
<h3>The log could not be saved for <%= @child.name %></h3>
<br>
<p>
  <a href="/children/<%= @child.id %>/logs/create">Try Again?</a> or
  <a href="/children/">Return to the list of children</a> or <a href="/logout">logout and re-enter your credientials</a>
</p>
